node_modules
mongo_db/*
backend_api/package-lock.json
*.wt
*.lock
*.bson
mongodb/_mdb_catalog.wt
mongodb/sizeStorer.wt
mongodb/WiredTiger.turtle
mongodb/WiredTiger.wt
mongodb/WiredTiger
.DS_Store
mongo_db/